button {
    margin: 10px;
}
 
.list-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    .col-cont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .sm-cont{
        display: flex;
        flex-direction: row;
        
    }
}