.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0079bf;
    color: white;
    height: 4rem;
    
    img{
        width: 35px;
        height: 35px;
              
    }
    .left-links{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        img{
            width: 15px;
            height: 15px;            
        }
        div{
           background-color: #edf2f7;
           border-radius: 8px;
           color: black;
           height: 32px;
           display: flex;
           align-items: center;
           padding: 0px 8px;
           a{
            text-decoration: none;
            font-size: 0.75rem;
            color: black;
            padding: 0px 5px    ;
            display: flex;
           }
           
        }
    }
    .trello{
        display: flex;
        align-items: center;
        p{
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
    }
    .right-links{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        img{
            width: 15px;
            height: 15px;            
        }
        div,button,select{
           background-color: #edf2f7;
           border-radius: 8px;
           color: black;
           height: 32px;
           display: flex;
           align-items: center;
           padding: 0px 8px;
           font-size: 0.75rem;
           border: none;
           cursor: pointer;
           a{
            text-decoration: none;
            font-size: 0.75rem;
            color: black;
            padding: 0px 5px    ;
            display: flex;
           }
           .logout{
               font-size: 1.5rem;
               cursor: pointer;
           }
           
        }
    }
}
