<mat-toolbar class="toolbar">
  <div class="left-links">
    <div>
      <a routerLink="/home"
        ><img src="../../../assets/images/home.png" alt="home"
      /></a>
    </div>
    <div><a routerLink="/board">Dashboard</a></div>
    <div><a routerLink="/backlog">Backlog</a></div>
    <div appRoles><a routerLink="/users">Users</a></div>
    <div appRoles><a routerLink="/roles">Roles</a></div>
  </div>
  <div class="trello">
    <img src="assets/images/logo.png" alt="logo" />
    <p>Trello</p>
  </div>
  <div class="right-links">
    <button routerLink="projectform">Add Project</button>

    <select
      *ngIf="countOfMyProjects !== 0"
      [ngModel]="currentProject?.id"
      (ngModelChange)="selectProject($event)"
      class="selectpicker"
    >
      <option
        *ngFor="let project of projects$ | async"
        [value]="project.id"
        data-content="<span class='badge badge-danger'>Pizzas</span>"
      >
        {{ project.name }}
      </option>
    </select>
    <div>
      <a (click)="refreshPage()"><mat-icon>rotate_left</mat-icon></a>
    </div>

    <div>
      <a routerLink="project/setting/about"
        ><img src="../../../assets/images/setting.png" alt="setting"
      /></a>
    </div>
    <div>
      <mat-icon
        class="logout"
        (click)="logout()"
        routerLink="/auth/login"
        routerLinkActive="router-link-active"
        >exit_to_app</mat-icon
      >
    </div>
  </div>
</mat-toolbar>
